form{
    background-color: rgba(255, 255, 255, 0.473);
    border: 0.2px solid rgba(166, 224, 255, 0.514);
    border-radius: 20px;
    height: 79vh;
    width: 300px;
    box-shadow: 0 0 10px rgba(68, 36, 36, 0.15);
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
.externalLoginGoogle {
    align-self: center;
    background-color: rgba(245, 245, 245, 0.564);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 18px;
    width: 190px;
    margin: 7px;
    margin-bottom: 4px;
    border: 0.0001px solid #90909032;
    cursor: pointer;
}

.externalLoginApple {
    align-self: center;
    background-color: rgba(245, 245, 245, 0.564);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 18px;
    width: 190px;
    margin: 7px;
    margin-bottom: 15px;
    border: 0.0001px solid #90909032;
    cursor: pointer;
}

.externalLoginGoogle img {
    width: 20px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background: transparent;
}

.externalLoginApple img {
    width: 20px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background: transparent;
}

.externalLoginGoogle:hover {
    background-color: #969595b8;
}

.externalLoginApple:hover {
    background-color: #969595b8;
}

.forgottenPassword{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 10px;
}


.signUpLink{
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 1px;
    padding-top: 0px;
    padding-bottom: 30PX;
}

.loginH2 {
    text-align: left;
    font-size: 35px;
}

.loginButton {
    background-color: rgb(57, 115, 192);
    display: block;
    margin: auto;
    color: whitesmoke;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 225px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.malwinLogo{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
}
