.externalLogin {
    align-self: center;
    background-color: rgba(245, 245, 245, 0.564);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 18px;
    width: 190px;
    margin: 7px;
    border: 0.0001px solid #90909032;
    cursor: pointer;
}
