form{
  background-color: rgba(255, 255, 255, 0.293);
  border: 0.2px solid rgba(255, 255, 255, 0);
  border-radius: 23px;
  height: 78vh;
  width: 300px;
  box-shadow: 0 0 10px rgba(68, 36, 36, 0.15);
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.externalLoginGoogle, .externalLoginApple {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.564);
  padding: 8px 15px;
  border-radius: 18px;
  width: 192px;
  margin: 6px auto; 
  border: 0.0001px solid #90909032;
  cursor: pointer;
}

.externalLoginGoogle img, .externalLoginApple img {
  width: 20px;
  margin-right: 10px; 
}

  .externalLoginGoogle:hover , .externalLoginApple:hover{
    background-color: #969595b8;
  }

.signUp{
    text-align: center;
    margin: 2px;
    margin-bottom: 10px;
    padding: 1px;
    padding-bottom: 10PX;
}

.signUpH2 {
    text-align: left;
    font-size: 35px;
  }

  .signUpButton {
    background-color: rgb(57, 115, 192);
    display: block;
    margin: auto;
    color: whitesmoke;
    font-size: 17px;
    padding: 9px 10px;
    margin-top: 20px;
    margin-bottom: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 225px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .loginLink{
    text-align: center;
    margin: 2px;
    margin-bottom: 15px;
    padding: 1px;
    padding-bottom: 30PX;
}

.malwinLogo{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
}

.emailTag{
  color: rgb(81, 81, 81);
} 

.passwordTag{
  color: rgb(43, 43, 43);
}

.repeatPasswordTag{
  color: rgb(43, 43, 43);
}

